# PostgreSQL
POSTGRES_USER=appuser
POSTGRES_PASSWORD=changeme
POSTGRES_DB=appdb

# ghcr.io/youruser/testtaskfordevops
IMAGE_PREFIX=ghcr.io/maestto/testtaskfordevops

# Grafana
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=changeme
